.cicd/**
.github/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
doc/**
images/**
!images/gobo.png
!images/syntax_highlighting.png
!images/code_completion.gif
!images/feature_navigation.gif
!images/feature_signature.gif
!images/go_to_definition.gif
!images/compile_and_run_in_terminal.gif
!images/problems.png
!images/new_gobo_eiffel_terminal.gif
!images/compile_and_run_in_debugger.gif
