# For available runners, see https://docs.github.com/en/enterprise-cloud@latest/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories

name: "Nightly Build"

on:
  schedule:
    - cron: '12 1 * * *'
  workflow_dispatch:

jobs:

#
# Build VS Code extension package.
#

  build_package:
    if: ${{ github.repository == 'gobo-eiffel/gobo-vscode' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: . "$env:GITHUB_WORKSPACE/.cicd/build_package.ps1"
        shell: pwsh
      - uses: actions/upload-artifact@v4
        with:
          name: gobo_eiffel_package
          path: gobo-eiffel-*.vsix
          retention-days: 1

#
# Publish package.
#

  all_publish:
    runs-on: ubuntu-latest
    needs: build_package
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: gobo_eiffel_package
          path: .
      - name: publish
        uses: pyTooling/Actions/releaser/composite@v1.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: gobo-eiffel-*.vsix
          tag: nightly
          rm: true
