# For available runners, see https://docs.github.com/en/enterprise-cloud@latest/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories

name: "Release Build"

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:

#
# Build VS Code extension package.
#

  build_package:
    if: ${{ github.repository == 'gobo-eiffel/gobo-vscode' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: build
        run: . "$env:GITHUB_WORKSPACE/.cicd/build_package.ps1" $env:GITHUB_REF_NAME.TrimStart('v')
        shell: pwsh
      - uses: actions/upload-artifact@v4
        with:
          name: gobo_eiffel_package
          path: gobo-eiffel-*.vsix
          retention-days: 1

#
# Create Github release.
#

  create_release:
    runs-on: ubuntu-latest
    needs: build_package
    steps:
      - uses: actions/checkout@v4
      - name: extract_release_notes
        run: . "$env:GITHUB_WORKSPACE/.cicd/extract_release_notes.ps1" $env:GITHUB_REF_NAME.TrimStart('v') CHANGELOG.md release_notes.md
        shell: pwsh
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Gobo Eiffel for VS Code ${{ github.ref_name }}
          body_path: release_notes.md
          prerelease: true
          make_latest: false

#
# Publish package.
#

  publish_package:
    runs-on: ubuntu-latest
    needs: create_release
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: gobo_eiffel_package
          path: .
      - name: publish
        uses: pyTooling/Actions/releaser/composite@v1.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: gobo-eiffel-*.vsix
          tag: ${{ github.ref_name }}
          rm: true

#
# Update VS Code Marketplace.
#

  update_marketspace:
    runs-on: ubuntu-latest
    needs: publish_package
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: gobo_eiffel_package
          path: .
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: publish
        run: npx vsce publish --packagePath gobo-eiffel-*.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
